@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #d7d3ff;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.logotype {
  max-width: 200px;
  margin-bottom: 15px;
}

.file__converter {
  text-align: center;
}

.file__converter_header h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.file__converter_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #ffffff6e;
  min-height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
}

@media (min-width: 576px) {
  .file__converter_content {
    max-width: 100%;
  }
}

.file__converter #txtLoader {
  padding-top: 15px;
  max-width: 230px;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.file__converter_convertbtn {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #3c70aa;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 15px;
}

.file__converter_convertbtn:hover {
  background-color: #335e91;
}

.file__converter_convertbtn:active {
  background-color: #214774;
}

.file__converter .disabled {
  background-color: #5f5f5f;
}

#convertedFile {
  min-width: 90%;
  min-height: 380px;
  overflow: auto;
  font-size: 14px;
  resize: none;
  background-color: #00000000;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */